extends ./layouts/index


block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="/img/nosotros.jpg", alt="imagen sobre nosotros").img-fluid
            .col-md-7
                h1= pagina
                blockquote
                | orem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ante libero, lacinia vel volutpat
                | vel, sollicitudin nec leo. Morbi quis ultricies libero. Proin ut lobortis diam, nec lacinia orci.
                | Vestibulum non tempor est, vel pulvinar mi. Phasellus nunc tellus, semper gravida volutpat vitae,
                | auctor sed orci. Morbi pharetra rhoncus ante, a tristique arcu mollis non. Nunc eu tempor dolor.
                | Morbi nec augue sed mi gravida faucibus. Ut ex arcu, laoreet at diam nec, pharetra cursus velit.

                
                p
                | Proin auctor, sem id suscipit condimentum, massa diam feugiat purus, a gravida mi justo non tortor.
                | Quisque tempus, orci a sollicitudin semper, quam orci hendrerit diam, nec egestas massa erat at ante. Mauris
                | iaculis cursus lorem. Vivamus fermentum leo a quam laoreet euismod. Pellentesque dignissim sodales tellus,
                | et convallis elit dictum convallis. Quisque interdum egestas nisi vitae dictum. Ut enim nisi, bibendum
                | venenatis efficitur id, consectetur quis ligula. Morbi vitae pellentesque est. Praesent et turpis a eros
                | faucibus condimentum et at quam. Morbi consequat, tellus eget varius sollicitudin, lectus tortor dapibus augue,
                | ac sodales ex metus in nisl. Aliquam quis velit arcu. Ut sed tellus egestas, mollis sem non, congue libero.

                p
                | Pellentesque auctor, odio ultrices volutpat consectetur, nunc ligula imperdiet tellus, et venenatis felis
                | metus sed nunc. Cras imperdiet dolor quis purus congue, in tristique odio malesuada. Nam nec
                | viverra augue, a imperdiet augue. Nunc ac turpis dictum, tempus orci a, condimentum arcu. Phasellus
                | mollis sapien sed lectus hendrerit pharetra. Nunc ac sollicitudin augue, ac finibus tortor. Curabitur
                | ultricies venenatis ex. Quisque arcu ex, molestie nec tellus a, congue efficitur dolor. Donec quis faucibus
                | ipsum.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="/img/icono_seguridad.svg", alt="seguridad").img-fluid.mb-4
                    h2.mb-4 Seguridad
                    p 
                    | Pellentesque auctor, odio ultrices volutpat consectetur, nunc ligula imperdiet tellus, et venenatis felis
                    | metus sed nunc. Cras imperdiet dolor quis purus congue, in tristique odio malesuada. Nam nec
                
                .col-md-4
                    img(src="/img/icono_destinos.svg", alt="destinos").img-fluid.mb-4
                    h2.mb-4 Los mejores destinos
                    p 
                    | Pellentesque auctor, odio ultrices volutpat consectetur, nunc ligula imperdiet tellus, et venenatis felis
                    | metus sed nunc. Cras imperdiet dolor quis purus congue, in tristique odio malesuada. Nam nec

                .col-md-4
                    img(src="/img/icono_precios.svg", alt="precios").img-fluid.mb-4
                    h2.mb-4 Los mejores precios
                    p 
                    | Pellentesque auctor, odio ultrices volutpat consectetur, nunc ligula imperdiet tellus, et venenatis felis
                    | metus sed nunc. Cras imperdiet dolor quis purus congue, in tristique odio malesuada. Nam nec