extends ./layouts/index


block contenido
    main.container.mt-5
        h1.text-center= pagina

            blockquote.text-center Experiencias de nuestros clientes
            include ./layouts/bloque_testimoniales
                        

        .row
            .col-md-12
                h2.d-block.w-100.text-center Agrega un testimonio
                if(errores)
                    each error in errores
                        .alert.alert-danger.col.text-center= error

            .row.justify-content-center.col
                .col-md-8 
                    form(action='/testimoniales' method='POST')
                        .form-group 
                            label(for="nombre") Nombre 
                            input#nombre(type='text', placeholder='nombre', name='nombre', value= nombre).form-control
                        .form-group 
                            label(for="correo") Correo Electronico
                            input#correo(type='text', placeholder='tu correo', name='correo', value= correo).form-control
                        .form-group 
                            label(for="mensaje") Mensaje
                            textarea#mensaje(class='form-control', name='mensaje', placeholder='tu mensaje', rows=3)= mensaje
                        input(type="submit").btn.btn-success.btn-block